<h1>Reservations#index</h1>
<p>Find me in app/views/reservations/index.html.erb</p>



<table class="table">
	<tr>
		<th>Listing Property</th>
		<th>Dates</th>
		<th>Action</th>
	</tr>

<% current_user.reservations.each do |x|%>
	<tr>
		<td><%= x.listing.title %></td>
		<td><%= x.checkin %></td>
		<td>View</td>
	</tr>
<% end %>
</table>




