<h1>Reservations#show</h1>
<p>Find me in app/views/reservations/show.html.erb</p>



<table class="table">
	<tr>
		<th>Dates</th>

	</tr>

<% @nights.each do |x|%>
	<tr>

		<td><%= x.staying_dates %></td>

	</tr>
<% end %>
</table>


<h3>Your Reservation</h3>

<ul class="list-group">
  <li class="list-group-item">
    <p>Listing name: <%= link_to @booking.listing.title, listing_path(@booking.listing) %></p>

    <p>Location: <%= @booking.listing.location %> </p>
    <strong>Payment Status:</strong>
      <% if @booking.payments.where(status: :authorized).count == 0%>
      <span class="btn btn-danger"> NOT PAID </span>

       <%= link_to 'Pay Now' , new_payment_path + "?id=" + @booking.id.to_s, class: "btn btn-warning"  %>
      <% else %>
      <span class="btn btn-success">PAID</span>
      <% end %>
  </li>
</ul>